<h1>Message Details</h1>
<h2><%= link_to "Volver", messages_path %></h2>
<h2><%= link_to "Create new message", new_message_path %></h2>

<ul>
  <li><strong>ID:</strong> <%= @message.id %></li>
  <li><strong>Chat:</strong> 
    Between <%= @message.chat.sender.first_name %> <%= @message.chat.sender.last_name %> and <%= @message.chat.receiver.first_name %> <%= @message.chat.receiver.last_name %>
  </li>
  <li><strong>Author:</strong> <%= @message.user.first_name %> <%= @message.user.last_name %></li> 
  <li><strong>Message:</strong> <%= @message.body %></li>
  <li><strong>Created at:</strong> <%= @message.created_at.strftime("%d/%m/%Y %H:%M") %></li>
  <li><strong>Última Updated at:</strong> <%= @message.updated_at.strftime("%d/%m/%Y %H:%M") %></li>
</ul>
