<%= form_with model: @user do |form| %> 
    <div>
        <%= form.text_field :first_name, placeholder: "Peter" %>
    </div>
    <div>
        <%= form.text_field :last_name, placeholder: "Griffin" %>
    </div>
    <div>
        <%= form.text_field :email, placeholder: "PeterGriffin@gmail.com" %>
    </div>
    <div>
        <%= link_to "Cancel", users_path, class: 'btn btn-secondary' %>
        <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
<% end %>
